env
.env
.vscode
.pytest_cache
__pycache__

# logs
*.log

# helper-scripts
context-printer*.*
folder-structure-printer*.*

# files
*.mp4
*.wav
*.jpg
*.png

# local repos
outgoing_emails_test
outgoing_instagram_test
*.db

